name: Pulumi Preview

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  pulumi-preview:
    if: github.actor == 'MauDantas'
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install --no-root

      - name: Install Pulumi CLI
        run: curl -fsSL https://get.pulumi.com | sh
        env:
          PULUMI_SKIP_UPDATE_CHECK: "true"

      - name: Configure Agnostic S3 
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_S3_FORCE_PATH_STYLE: true
          AWS_ENDPOINT_URL_S3: ${{ secrets.AWS_ENDPOINT_URL_S3 }}
        run: |
          export PATH=$PATH:$HOME/.pulumi/bin
          pulumi login s3://pulumi-infrastructure

      - name: Pulumi Preview
        env:
          PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_S3_FORCE_PATH_STYLE: true
          AWS_ENDPOINT_URL_S3: ${{ secrets.AWS_ENDPOINT_URL_S3 }}
        run: |
          export PATH=$PATH:$HOME/.pulumi/bin
          poetry run pulumi preview --stack staging
